* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #86DFEB;

}
.head {
    display: flex;
    justify-content: space-between;
    margin: 5vw;
    /* align-items: center; */
}

.head1{
    color: #0C0A66;
}

.head button{
    height: 100%;
    padding: 0 2vw;
    border-radius: 1vw;
    background-color: #9747FF;
    color: white;
    border: none;
}

footer{
    background-color: black;
    height: 12vh;
    width: 100%;
}