* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: #86DFEB;
}

button {
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: .8vw;
    background-color: #9747FF;
    color: white;
    border: none;
}

.title-name {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    background-image: url('../images/concept-feeding-receiving-food-poor-volunteers-190921224~2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head1{
    font-size: 4vw;
    color: #86DFEB;
    margin: 2vw 5vw;

}

.titlebtn{
    margin: 2vw 5vw;
    color: white;
    font-weight: bold;
}

.title-name button{
    height: 3vw;
    padding: 0 2vw;
    width: 100%;
    margin-top: 1vw;
    background-color: #9747FF;


}


.body-wrapper{
    margin: 0 5vw;
}


.vertscro{
    margin-top: 2vw;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-between;
    overflow-y: scroll;
}


.media {
    margin-bottom: 1vw;
    border-radius: 5px;
    background-color: white;

}

.media p{
    margin: 0.5vw 6vw;
}

.media:hover{
    /* border: 1px solid lightgray; */
    box-shadow: 1px 1px 6px;
}

/* 
.first-div {
    position: relative;
    width: 100%;
    height: 328px;
}

.first-div p{
    position: absolute;
    top: 42%;
    left: 30%;
    font-size: 5vw;
    color: white;
}

.first-div img {
    width: 100%;
    height: 100%;
}

.scroller {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 75vh;
    background-color: white;
    padding: 1vw;
    position: relative;
}

.scroller > div {
    background-color: #FDEAEA;
    position: relative;
}

.scro1 {
    width: 35%;
}

.scro2 {
    width: 63%;
}

.imgscroll2{
    padding: 1vw;
}

.imgscroll2 > div {
    height: 100%;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.smallsec{
    width: 45%;
    height: 100%;
    background-color: black;
}







.second-div {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
    padding: 1vw;

}





.paragraph {
    font-weight: bold;
}


.second-div .super-food{
    display: flex;
    justify-content: space-between;
    padding-top: 1vw;
}

.super-food > div{
    position: relative;
    width: 30%;
    height: 436px;
    background-color: #FDEAEA;
}


.donut, .donut-p {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.donut img{
    width: 100%;
    height: 65%;
}

.donut-p{
    width: 100%;
    height: 35%;
    justify-content: space-around;
}

.donut-p button{
    width: 8vw;
    height: 3vw;
}

.third-div{
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.left-side, .right-side {
    display: flex;

    width: 48%;
    height: 100%;
    background-color: #FDEAEA;

}


.imgs-side{
    width: 50%;
    height: 100%;
    background-color: white;
}

.imgs-side img{
    width: 100%;
    height: 100%;
}

.desription-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 50%;
    height: 100%;
    padding: 20% 10%;
}

.hoteli {
    color: #0C0A66;
    font-weight: bold;
}

.desription-side button{
    height: 3vw;
} */





.btn0 {
    margin: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.last1 {
    height: 3vw;
    padding: 0 2vw;
    border-radius: 1vw;
    background-color: #9747FF;
    color: white;
    border: none;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 20vh;
    width: 100%;
}
footer > div{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icOns {
    width: 20%;
}

.icOns i {
    color: white;
    font-size: 2vw;
}

.linkS p{
    padding: 0 3vw;
    color: white;
    font-size: 1.5vw;
}