*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    height: auto;
    width: 100%;
}
.banner{
    width: 50%;
    float: center;
    border: 1px solid black;
    margin-top: 50px;
    font: bold 100% "Lucida Grande", Arial, sans-serif;
    padding: 20px;
    text-align: center;

}
.formwrapper{
    width: 50%;
    margin-top: 50px;
    background-color: aqua;
    min-height: 300px;
    align-items: center;
    padding: 20px;
  
}
.formselect{
    padding: 20px;
    width: fit-content;
}
.login{
    position: relative;
    width: fit-content;
    padding: 20px;
}
.input{
    margin: 10px;
}
.signup{
    width: 25%;
    display: inline;
    
}
form{
    margin-bottom:50px;
}
#log{
    background-color: #EC4067;
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}