*{
    max-height: 100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
/*@media  only screen and (max-width: 1500px) {
    .introContainer{
        background-image: url(/Assets/images/World-Hunger.jpg);
        display: block;
        font-size: 12px;
    }
    .imagearea{
        display: none;
    }
    .textarea{
        width: 50%;
    }
}*/
body{
    width: 100%;
}
.tile1{
    width: 100%;
    min-height: 200px;
    background-color: #202022;
}
.orgname{
    padding-top: 2%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #00BBC9;
}
.orgtag{
    font-size: large;
    text-align: center;
    font-weight: 100;
    color: #00747C; 
    font-style: italic;
    margin-top: 10px;
}
.intro{
    width: 100%;
    background-color: #202022;
    min-height: 600px;
    padding: 50px;
}
.introContainer{
    display: flex;
    justify-content: space-between;
}
.imagearea{
    width: 45%;
    height: 600px;
    background-image: url(/Assets/images/World-Hunger.jpg);
    border-radius: 15px;
    position: relative;
}
.textblock{
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
}
.textarea{
    width: 50%;
    /* background-color: black; */
    height: 600px;
    color: rgba(255, 255, 255, 0.8);
    
}
fieldset{
    width: 90%;
    height: 100%;
    border: 20px solid grey;
    border-radius: 25px;
}
legend{
    color: #00BBC9;
    font-size: larger;
    font-weight: 700;
}
.orgcolour{
    color: #00BBC9;

}
.abouttext{
    padding: 20px;
    font-size: 22px;
}
.btn1{
    font-size: x-large;
    width: fit-content;
    float: center;
    background-color: #00BBC9;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 20px;
    position: fixe;
}

.socials{
background-color: black;
min-height: 100px;
padding-left: 40%;
padding-top: 40px;
color: beige;
}