* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

button {
    font-size: 1.2vw;
    border-radius: 5px;
    background-color: #9747FF;
    color: white;
    border: none;
}

.title-name {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-weight: 700;
    margin: 10px;
}

.head1{
    color: #0C0A66;
}

.title-name button{
    height: 3vw;
    padding: 0 2vw;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
}

.socials{
    background-color: black;
    padding-top: 40px;
    color: beige;
}
.sociallinks{
    width: 100%;
    text-align: center;
    background-color: black;
    padding-top: 40px;
    color: beige;
}