*{
    background-color: white;
    color: #C7B72E;
    padding: 20px;
   
}
body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    width: 70%;
    height: 70%;
    background-color: black;
    

}
form{
    display: flex;
    flex-direction: column;
}
